.container {
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    @media (min-width: $minSmall) {
        width: 750px;
    }
    @media (min-width: $minMedium) {
        width: 970px;
    }
    @media (min-width: $minLarge) {
        width: 1170px;
    }
}

.clearfix {
    clear: both;
}

.center-mobile {
    @media (max-width: $maxMobile) {
        text-align: center;
    }
}
